<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Blocking | <%= title %></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="hero-unit center">
            <h2>Important Content Ahead!</h2>

            <script src="/delay/10000/script.js"></script>

            <img src="/static/important.gif">

            <p><a href=".">♲ Reload</a></p>
            <p><a href="/">← Back</a></p>
        </div>
    </div>
</body>
</html>