<!DOCTYPE html>
<html>
<head>
    <title>Caching | <%= title %></title>
    <link rel="stylesheet" href="/cached-delay/10000/style.css?">
</head>
<body>
    <div class="container">
        <div class="hero-unit center">
            <pre>+      o     +              o
    +             o     +       +
o          +
    o  +           +        +
+        o     o       +        o
-_-_-_-_-_-_-_,------,      o
_-_-_-_-_-_-_-|   /\_/\
-_-_-_-_-_-_-~|__( ^ .^)  +     +
_-_-_-_-_-_-_-""  ""
+      o         o   +       o
    +         +
o        o         o      o     +
    o           +
+      +     o        o      +  </pre>

            <p><a href=".">♲ Reload</a></p>
            <p><a href="/">← Back</a></p>
        </div>
    </div>
</body>
</html>